<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="http://localhost:8080/favicon.ico">
    <title>EBM IT</title>
</head>
<body>
    <div>
        <img src="http://localhost:8080/logo.png" />
        <p>- Seite in Arbeit -</p>
    </div>
</body>
<style>
    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 400px;
        min-width: 400px;
        min-height: 400px;
        max-height: 400px;
    }
    img {
        width: 100%;
    }
    p {
        text-align: center;
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 0.1;
    }
</style>
</html>